<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="public/admin/css/pintuer.css">
    <link rel="stylesheet" href="public/admin/css/admin.css">
    <script src="public/admin/js/jquery.js"></script>
    <script src="public/admin/js/pintuer.js"></script>  
</head>
<body>
<form method="post" action="index.php?$c=index&m=admin&a=usercon">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 用户管理</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
           <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
         <input type="submit" class="button border-red" name="deletes" value="批量删除" />
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
      <th width="10%"></th>
      <th width="15%">用户名</th>
      <th width="15%">电话</th>
      <th width="15%">邮箱</th>
      <th width="15%">注册时间</th>
      <th width="15%">用户类型</th>
      <th width="15%">操作</th>
    </tr>
    {foreach $result as $key => $value}
    <tr>
      <td><input type="checkbox" name="uid[]" value="{$value['uid']}" /></td>
      <td>${$value['username']}</td>
      <td>${$value['phone']}</td>
      <td>${$value['email']}</td>
      <td>${date('Y/m/d G:i:s', $value['regtime'])}</td>
      <td>
      {if $value['udertype'] == 0}
      管理员
      {elseif $value['udertype'] == 1}
      普通用户
      {/if}
      </td>
      <td><div class="button-group">
      
      {if $value['udertype'] == 1}
      <a class="button border-red" href="index.php?$c=index&m=admin&a=usercon&uid=${$value['uid']}" onclick="return del(1,1)"><span class="icon-trash-o"></span>删除</a>
      {/if}
      </div></td>
    </tr>
    {/foreach}
      <tr>
        <td colspan="8"><div class="pagelist"><a href="${$page['first']}">首页</a>  <a href="${$page['pre']}">上一页</a> <a href="${$page['next']}">下一页</a><a href="${$page['last']}">尾页</a> </div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}

$("#checkall").click(function(){ 
  $("input[name='uid[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>