<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>登录</title>  
    <link rel="stylesheet" href="public/index/css/pintuer.css">
    <link rel="stylesheet" href="public/index/css/admin.css">
    <script src="public/index/js/jquery.js"></script>
    <script src="public/index/js/pintuer.js"></script>  
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">           
            </div>
            
            <div class="panel loginbox">
                <form action="index.php?m=index&c=user&a=logincheck" method="post">
                <div class="text-center margin-big padding-big-top"><h1>登陆</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" name="username" placeholder="用户名" data-validate="required:请填写账号" />
                            <span class="icon icon-user margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" name="password" placeholder="登录密码" data-validate="required:请填写密码" />
                            <span class="icon icon-key margin-small"></span>

                        </div> <a href="index.php?m=index&c=user&a=findpwd">找回密码？</a>
                    </div>
                </div>
                <div style="padding:30px;"><input type="submit" class="button button-block bg-main text-big input-big" value="登录"></div></form>  
                <div style="padding:30px;margin-top:-30px"><a href="index.php?c=user&m=index&a=register"><button class="button button-block bg-main text-big input-big">注册</button></a></div>
            </div>
                    
        </div>
    </div>
</div>
<script type="text/javascript">
function show()
{
    var obj = document.getElementById('ver');
    obj.src = 'index.php?m=index&c=user&a=ver&'+Math.random();
}
</script>
</body>
</html>